  @font-face {
    font-family: ps_bold;
    src: url(/font/ps_b.ttf);
    font-style: bold;
    font-weight: bold;
  }
  
  * {
    font-family: ps_bold;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  body {                
    background-image: url("/img/logoicfes.svg");
    background-size: 110px;    
    background-repeat: repeat;
    background-color: #111;         
    color: #fff;        
    min-width: 800px;
    height: 100vh;
  }  

  .resTitle {
    top: 10px;
    left: 20px;
  }

  .res {
    top: 10px;
    left: 20px;
  }