@font-face {
  font-family: ps_bold;
  src: url(/font/ps_b.ttf);
  font-style: bold;
  font-weight: bold;
}

@font-face {
  font-family: ps_normal;
  src: url(/font/ps_n.ttf);
  font-style: normal;
  font-weight: normal;
}

* {
  font-family: ps_bold;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background-color: #111;
  border-radius: 7px;
  border: 2px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #111;
  border-radius: 7px;
  border: 3px solid #004fa7;
}

body {
  background-image: url("/img/logoicfes.svg");
  background-size: 110px;
  background-repeat: repeat;
  background-color: #111;
  color: #fff;
  min-width: 1050px;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

h2 {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  cursor: pointer;
}

h2:hover {
  color: #004fa7;
}

h3 {
  padding-left: 10px;
  margin-top: 5px;
}

p {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 2px;
  font-family: ps_normal;
  font-size: 18px;
  text-align: justify;
  cursor: default;
}

.home {
  z-index: 999;
  position: relative;
  width: 35px;
  height: 35px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 17px;
  background-size: 35px 35px;
  background-image: url("/img/home.svg");
}

.home:hover {
  background-image: url("/img/homeHV.svg");
}

.opciones {      
  width: 787px;
  display: flex;
  align-items: center;
  font-size:20px;
  float: right;        
  margin-top: 13px;
  margin-right: 0px;
}

.opc{
  margin-top: 4px;
  cursor: pointer;
}

.opcImg {
  width: 30px;  
  margin-left: 25px;
  margin-right: 5px;    
  margin-top: 5px;    
  cursor: pointer;
}    

.ref {
  height: 35px;
}

.des {
  height: 26px;
}

.mensajeSeleccione {  
  display: block;
  margin-top: 150px;
  margin-left: 40%;
  font-size: 18px;
  font-family: ps_bold;
  cursor: default;    
}

.contenido {  
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.tgray {
  color: #888;
}

.th3:hover {
  color: #004fa7;
  cursor: pointer;
}

.subItem {
  margin-left: 15px;
}

.subItem:hover {
  color: #004fa7;
  cursor: pointer;
}

.guiaEnlace {
  padding-left: 10px;  
}

.guiaEnlace:hover {
  color: #004fa7;  
}


.contExp {
  border: 2px solid white;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 15px;
}

.contCon{
  width: 100%;
  display: none;  
}

.titulos1y2 {
  margin-top: 20px;
  font-size: 27px;
}

.tituloIco {
  margin-right: 10px;
  height: 21px;
}

.borrador {  
  margin-top: 20px;
  height: 100px;
}

.sacapuntas {    
  height: 100px;
  margin-left: 30px;
}

.documento {
  height: 100px;
  margin-left: 30px;
}

.lapiz {
  margin-top: 20px;  
  width: 534px;  
  margin-bottom: 20px;
}

.contPag {
  width: 100%;
  display: none;
}

.linksContPag {  
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 20px;
  margin-top: 10px;  
  cursor: pointer;
  font-family: ps_bold;    
  font-size: 20px;
  color: #eee;
}

.linksContPag:hover {
  color: #004fa7;  
}

.linksContPagRight {
  text-align: right;  
}

.enfasisLink {
  font-size: 24px;
}

.imgLink {  
  margin-bottom: -10px;  
  margin-top: 10px;
  height: 30px;
  width: 100px;
  margin-left: 15px;
  margin-right: 15px;
}

.contRef {
  width: 100%;
  display: none;
}

.contenidoContRef{  
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.refCuadro {  
  cursor: pointer;
  flex-direction: column-reverse;
  height: 350px;
  width: min-content;
  border: 5px solid #ffffff;
  border-radius: 20px;  
  margin-left: 20px;
  margin-right: 20px;
}

.refCuadroImg {      
  width: 250px;
  height: 150px;
  padding: 20px;
}

.refCuadroTexTit {      
  cursor: pointer;
  background-color: #111;
  color: #fff;
  text-align: center;
  font-size: 18px;    
  margin-top: -2px; 
  padding-top: 11px; 
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.refCuadroTex {    
  cursor: pointer;
  height: 180px;
  position: absolute;
  bottom: 0;  
  font-size: 17px;
  background-color: #fff;
  color: #111;  
  padding-bottom: 7px;    
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.refCuadroPar {
  cursor: pointer;
}

.contDes {
  width: 100%;
  display: none;
}

.descargarTodo {
  margin-bottom: 10px;
}

.enlacesDeDescarga{
  margin-left: 15px;
  font-size: 24px;
}

.enlacesDeDescarga:hover {
  color: #004fa7;
}